@model IEnumerable<DietCareDDD.MVC.ViewModels.AlimentoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.alimento_nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alimento_calorias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alimento_carboidratos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alimento_proteinas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alimento_gorduras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alimento_porcao_base)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_unid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.alimento_nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alimento_calorias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alimento_carboidratos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alimento_proteinas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alimento_gorduras)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alimento_porcao_base)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unidade.unid_simbolo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_alimento }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_alimento }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_alimento })
        </td>
    </tr>
}

</table>
